<tr>
   <th>Session Topic</th>
   <th>Total Votes</th>
   <th>Your Votes</th>
   <th></th>
   <th></th>
 </tr>

{{#each discussions as |discussion|}}

    <tr data-id="{{discussion.id}}" class="table-primary">
      <td>{{discussion.title}}</td>
      <td>{{discussion.users.length}}</td>
      {{#if discussion.current_user_session_votes}}
        <td>{{discussion.current_user_session_votes}}</td>
      {{else}}
        <td>0</td>
      {{/if}}
      {{#if discussion.can_upvote}}
        <td><button class="upvote" data-id="{{discussion.id}}" type="button">Add Vote</button></td>
      {{else}}
        <td><button class="upvote" data-id="{{discussion.id}}" type="button" disabled>Add Vote</button></td>
      {{/if}}
      {{#if discussion.can_downvote}}
          <td><button class="downvote" data-id="{{discussion.id}}" type="button">Remove Vote</button></td>
      {{else}}
          <td><button class="downvote" data-id="{{discussion.id}}" type="button" disabled>Remove Vote</button></td>
      {{/if}}

    </tr>

{{/each}}
