<tr>
   <th></th>
   <th>Session Topic</th>
   <th>Total Votes</th>
   <th>Your Votes</th>
   <th></th>
   <th></th>
 </tr>

{{#each discussions as |discussion|}}
  {{log discussion}}

    <tr data-id="{{discussion.id}}" class="table-primary">
      {{#if discussion.editable}}
        <td><button class="update-topic" data-toggle="modal" data-target="#udpateTopicModal" data-id="{{discussion.id}}" type="button">Modify</button></td>
      {{else}}
        <td></td>
      {{/if}}
      <td>{{discussion.title}}</td>
      <td>{{discussion.users.length}}</td>
      {{#if discussion.current_user_votes}}
        <td>{{discussion.current_user_votes}}</td>
      {{else}}
        <td>0</td>
      {{/if}}
      <td><button class="upvote" data-id="{{discussion.id}}" type="button">Upvote</button></td>
      <td><button class="downvote" data-id="{{discussion.id}}" type="button">Downvote</button></td>
    </tr>

{{/each}}
